<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/react@18/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <title>Login</title>
</head>
<body>
    <div id="App"></div>
    <script type="text/babel">

        function LoginForm() {
            const [email, setEmail] = React.useState('')
            const [password, setPassword] = React.useState('')
            const [message, setMessage] = React.useState('')

            const handleSubmit = async (e) => {
                e.preventDefault();
                try {
                    const res = await fetch("http://localhost:5000/login", {
                        method: "POST",
                        headers: {
                            "content-type": "application/json"
                        },
                        credentials: "include",
                        body: JSON.stringify({email, password})
                    })
                    const data = await res.json()
                    if (res.ok) {
                        setMessage("succesful login")
                        window.location.href = "/"
                    }
                    else {
                        setMessage(data.error || "authentication error")
                    }
                }
                catch (err){
                    setMessage("Internal server or connection error")
                }
            }

            return (
                <div>
                    <h2>Iniciar sesión</h2>  
                    <form onSubmit={handleSubmit}>
                        <input id='email'type='email' placeholder='Email' value={email} onChange={(e) => setEmail(e.target.value)} required></input>
                        <input id='password' type='password' placeholder='password' value={password} onChange={(e) => setPassword(e.target.value)} required></input>
                        <a href='#'>Olvidé mi contraseña</a>
                        <button id='btn-sesion'>Iniciar sesión</button>
                        <br></br>
                        o 
                        <br></br>
                        <button id='btn-google'>Continuar con Google</button>
                        <button id='btn-github'>Continuar con GitHub</button>
                        </form>
                    {message && <p>{message}</p>}
                </div>
            )   
        }
        ReactDOM.createRoot(document.getElementById("App")).render(<LoginForm />);
    </script>
</body>
</html>
